<div class="row">
  <div class="col-2 text-center" *ngFor="let category of categories$ | async">
    <button-expense
      [color]="'secondary'"
      [class]="'border border-0'"
      (click)="openModal(typeTransaction.expense, category)"
    >
      <icon [iconName]="category.icon" [style]="'font-size: 3rem;'"></icon>
    </button-expense>
  </div>
  <div class="col-12 my-3">
    <chart></chart>
  </div>
  <div class="col-12 text-center my-4">
    <balance-status></balance-status>
  </div>
  <div class="col-6 text-end">
    <button-action
      [color]="'danger'"
      [class]="'rounded-circle px-4'"
      (click)="openModal(typeTransaction.expense)"
    >
      <icon [iconName]="'bi-dash'" [style]="'font-size: 4rem;'"></icon>
    </button-action>
  </div>
  <div class="col-6">
    <button-action
      [color]="'success'"
      [class]="'rounded-circle px-4'"
      (click)="openModal(typeTransaction.incomes)"
    >
      <icon [iconName]="'bi-plus'" [style]="'font-size: 4rem;'"></icon>
    </button-action>
  </div>
</div>
